<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>index gohtml</title>
    </head>
    <body>
        <h1>Hi~!</h1>
        <ul>
            <li><a href="/topic">Topic</a></li>
            <li><a href="#">Image</a></li>
            <li><a href="#">about</a></li>
        </ul>
    </body>
</html>
