<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>topic gohtml</title>
    </head>
    <body>
        <h1>TOPIC : City</h1>
		<ul>
				{{range .}}
				<li>{{.Name}} ~ {{.Desc}}</li>
				{{end}}
		</ul>
    </body>
</html>
