<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>topic gohtml</title>
    </head>
    <body>
        <h1>TOPIC : {{.}}</h1>
		<ul>
				<li></li>
		</ul>
    </body>
</html>
