<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OOP gohtml</title>
    </head>
    <body>
        <h1>{{.Fall.Term}}</h1>
        <ul>
            {{range .Fall.Courses}}
            <li>{{.Number}} ::{{.Name}} @{{.Units}}</li>
            {{end}}
        </ul>
        <h1>{{.Spring.Term}}</h1>
        <ul>
            {{range .Spring.Courses}}
            <li>{{.Number}} ::{{.Name}} @{{.Units}}</li>
            {{end}}
        </ul>
        <h1>{{.Summer.Term}}</h1>
        <ul>
            {{range .Summer.Courses}}
            <li>{{.Number}} ::{{.Name}} @{{.Units}}</li>
            {{end}}
        </ul>
    </body>
</html>
