<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>My Peeps</title>
</head>
<body>
<ul>
	{{range .Sages}}
	<li>{{.Name}} - {{.Motto}}</li>
	{{end}}
	{{range .Cars}}
	<li>{{.}}</li>
	{{end}}
</ul>
</body>
</html>

