<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

<form action="POST" action="/bar">
	<input type="text" name="fname">
	<input type="submit">
</form>

</body>
</html>
